.agenda {
    background: #7F7FD5;
    background: linear-gradient(to left, #91EAE4, #86A8E7, rgb(141, 141, 219));

    backdrop-filter: blur(4px);
    
    &-items {
        padding: 40px 0;
        max-width: 60%;
        margin: 0 auto;
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
        grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
        grid-auto-rows: 1fr;
        grid-gap: 30px;
        align-items: center;
        justify-content: space-evenly;
        height: inherit;
    }

    &-item {
        
        &-ds {
            display: grid;
            color: $mainWhite;
            grid-template-columns: 1fr 2fr;
            grid-auto-rows: 1fr;
            background: linear-gradient(to right, rgba(64, 127, 196, 0.9), rgba(102, 112, 197, 0.9)), 
                            url("/assets/images/conf-smaller.jpg");
            background-size: cover;

            &__date {
                display: flex;
                flex-direction: column;
                font-weight: 500;
                text-align: center;
                padding: 0 15px;
                background: $mainBlue;
                

                &__day {
                    font-size: 4rem;
                }

                &__year {
                    padding: 5px 0;
                }
            }

            &-speakers {
                margin: 0px;
                padding: 0px;
                background-size: cover;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__speaker {
                    list-style: none;
                    padding: 5px 0;
                }
            }
        }

        &__details {
            display: grid;
            grid-template-columns: 4fr 1fr;
            background-color: $mainWhite;
            text-transform: uppercase;
            

            &__tt {
                & > span {
                    display: block;
                }
                
                color: #232b2b;

                &__title {
                    font-family: 'Bree Serif', serif;
                    font-size: 1.5rem;
                    padding: 0 15px;
                }

                &__time {
                    font-size: 1.1rem;
                    padding: 5px 15px;
                }
            }

            &__price {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                color: $mainWhite;
                background: $mainBlue;

            }
        }
    }
}