.banner {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right, rgba(64, 127, 196, 0.9), rgba(102, 112, 197, 0.9)), 
                url('/assets/images/conf-large-hi-dpi.jpg');
    background-size: cover;

    &-invite {
        color: $mainWhite;
        text-align: center;
        height: inherit;
        /* transform: translateY(30%); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__ready {
            font-size: 2rem;
            max-width: 50%;
            margin: 0 auto;
            font-weight: 100;

            &__que {

                &__huge {
                    padding: 0 5px;
                    font-family: "Roboto", sans-serif;
                    font-weight: 100;
                    border-radius: 10px;
                    display: inline-block;
                    cursor: pointer;

                    &:hover {
                        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                        transform: translate3d(0, 0, 0);
                        backface-visibility: hidden;
                        perspective: 1000px;
                    }
                }
            }

            &__que {
                display: block;
                margin-bottom: 25px;
                font-family: 'Bree Serif', serif;
            }
        }

        &__dl {
            margin: 50px 0;

            &__date {
                border-right: solid;
                margin-right: 10px;
                padding-right: 10px;
            }
        }

        &__register {

            &__btn {
                font-weight: 300;
                padding: 10px;
                cursor: pointer;
                transition-duration: 0.4s;

                &:hover {
                    background-color: $mainWhite;
                    color: $mainBlue;
                    transform: scale(1.07);
                }
            }
        }
    }

    /* &__image {
        display: block;
        width: 100%;
    } */
    /* &-invite {
        background: linear-gradient(to right, rgba(64, 127, 196,0.7), rgba(102, 112, 197,0.7));
        position: absolute;
        top: 20vh;
        left: 0;
        width: 100%;
        height: 100%;
    } */

}