.site-nav {
    
    &-list {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        height: 10vh;
        align-items: center;
        font-size: 1.3rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;

        &__item {
            cursor: pointer;
        }
    }

    /* &::after {
        content: "";
    position: absolute;
    background: png_base64( rgba(255, 66, 78, 0.25) );
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    } */
}