.speakers {
    text-align: center;

    &-heading {
        margin-bottom: -10px;
    }

    &__icon {
        height: 25px;
        width: 25px;
        padding-top: 40px;
    }

    &__desc {
        max-width: 50%;
        margin: 0 auto;
        padding-bottom: 30px;
        font-weight: 300;
    }

    &-list {
        list-style: none;
        max-width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        &__item {
            padding-bottom: 10px;

            &__img {
                border: solid 2px grey;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                    transition: all .2s ease-out;
                }
            }

            &__desc {
                padding-top: 5px;
            }
        }
    }
}